package.json
patches
public
docs
node_modules/
resources
ftp
.hugo_build.lock
hugo_stats.json
static/images/blaufusstoelpel.svg
static/images/blaufusstoelpel-white.svg
static/images/blaufusstoelpel.png
static/images/header.svg
static/images/favicon*
content/post/**/page*/
content/post/**/img*/
content/post/**/front/
content/post/*/title/
content/post/*/cover/
content/post/*/back/
content/post/*/end/
yarn-error.log
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
**/.DS_Store
content/**/ogPreview-overlay/
static/fonts/**
assets/css/**
static/pdfjs/**
**/vips-properties.xml
data/stats.json
