[submodule "themes/parsa"]
	path = themes/parsa
	url = https://github.com/themefisher/parsa-hugo.git
[submodule "blaufusstoelpel-redirect"]
	path = blaufusstoelpel-redirect
	url = https://github.com/cmahnke/blaufusstoelpel-redirect.git
