@import "parsa";
@import "bootstrap.scss";
@import "slick.scss";
$slick-font-path: "/fonts/slick/";
$slick-loader-path: "/images/";
@import "slick-theme.scss";
@import "icons";
@import "ol";
@import "ol-iiif";
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/open-sans-v18-latin-regular.woff2") format('woff2'),
         url("/fonts/open-sans-v18-latin-regular.woff") format('woff'),
         url("/fonts/open-sans-v18-latin-regular.ttf") format('truetype');
}
/* open-sans-600 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/open-sans-v18-latin-600.woff2") format('woff2'),
         url("/fonts/open-sans-v18-latin-600.woff") format('woff'), url("/fonts/open-sans-v18-latin-600.ttf") format('truetype');
}
/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src:url('/fonts/montserrat-v15-latin-200.woff2') format('woff2'),
        url('/fonts/montserrat-v15-latin-200.woff') format('woff'),
        url('/fonts/montserrat-v15-latin-200.ttf') format('truetype');
}
/* montserrat-200italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/montserrat-v15-latin-200italic.woff2") format('woff2'),
         url("/fonts/montserrat-v15-latin-200italic.woff") format('woff'),
         url("/fonts/montserrat-v15-latin-200italic.ttf") format('truetype');
}
/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/montserrat-v15-latin-300.woff2") format('woff2'),
         url("/fonts/montserrat-v15-latin-300.woff") format('woff'),
         url("/fonts/montserrat-v15-latin-300.ttf") format('truetype');
}
/* montserrat-italic - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/montserrat-v15-latin-italic.woff2") format('woff2'),
         url("/fonts/montserrat-v15-latin-italic.woff") format('woff'),
         url("/fonts/montserrat-v15-latin-italic.ttf") format('truetype');
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat-v15-latin-regular.woff2") format('woff2'),
         url("/fonts/montserrat-v15-latin-regular.woff") format('woff'), url("/fonts/montserrat-v15-latin-regular.ttf") format('truetype');
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/montserrat-v15-latin-700.woff2") format('woff2'),
         url("/fonts/montserrat-v15-latin-700.woff") format('woff'), url("/fonts/montserrat-v15-latin-700.ttf") format('truetype');
}

// See https://codepen.io/GeorgePark/pen/jeBbGN
@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

h1,
h2,
h3,
h4,
nav {
    font-family: 'Montserrat', sans-serif;
}

body {
    &.about {
        background-position: 90% 27em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }
}

nav {
    font-weight: 300;
    font-size: 1.6em;
}

#navigation {
    margin-top: auto;
}

.navbar {

    @media(max-width: 992px) {
        padding: unset
    }
    .nav-item .nav-link {
        padding: 0.5rem 1rem;
    }

    .navbar-toggler {
        padding: .25rem .25rem;
    }

}

.section {
    padding-top: 2em;
    padding-bottom: 2em;

    .row {
        .list-title,
        .post-title {
            font-size: 3em;
            font-weight: 300;
        }

        img.header {
            max-width: 15%;

            @media(max-width: 992px) {
                max-width: 25%;
            }
        }

        img.list {
            max-width: 70%;
        }
    }
}

.content p {
    padding-left: 0.5em;
}

.ti-calendar {
    display: none;
}

.navbar-brand {
    @media(max-width: 992px) {
        max-width: 85%;
    }

    @media(max-width: 576px) {
        margin-right: unset;
        font-size: unset;
    }

    /*display: inline-flex;*/

    .logo {
        max-width: 10%;
        vertical-align: bottom;

        &:hover {
            animation-name: shake;
            animation-duration: 3s;
            animation-delay: .3s;
            animation-iteration-count: infinite
        }
    }

    .title {
        display: inline-block;
        max-width: 70%;
        width: 45vw;
        margin-left: 2rem;
        vertical-align: bottom;
        @media(max-width: 576px) {
            width: 65vw;
            margin-left: 1rem;
        }
    }
}

.timeline {}

.footer {
    .logo {
        @media(max-width: 576px) {
            flex: unset;
            max-width: unset;
            text-align: center;
        }

        img {
            max-width: 20%;

            @media(max-width: 576px) {
                max-width: 30%;
                float: unset!important;
            }
        }
    }

    .design-credit {
        max-width: 50%;
        font-size: 1rem;
        display: block;
        flex: 0 0 50%;
        text-align: center;

        @media(max-width: 576px) {
            flex: unset;
            max-width: unset;
        }

        .font-secondary {
            font-size: small;
        }
    }

    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        color: darken(#007bff, 20%);
    }
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.text-contrast-dark {
    text-shadow: 0 0 15px black;
}

// The .content rule from the theme is tainted with a wildcard, never use * in CSS it's just annoing
// The root of this evil is certainly boostrap, since it doesn't force you to add semantic classes

.content-clean {
    position: relative;

    img,
    ul,
    p,
    h1, h2, h3, h4 {
         margin-bottom: 20px;
    }

    img{
      max-width: 100%;
      height: auto;

      &.error404 {
          margin-top: 2em;
          margin-bottom: 2em;
      }
    }

    &.meta,
    &.error404 {
        margin-top: 3rem;
    }

    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        color: darken(#007bff, 30%);
    }

    .source {
        font-size: small;
        text-align: right;
        margin: 1.5em;
        color: lighten(#6c757d, 20%);

        a {
            color: lighten(#007bff, 20%);
        }
    }

    /*
    img {
        max-width: 20%;
    }
    */
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

.slick-list {
    height: 400px;
}

.featured-post-slider {
    @media(min-width: 576px) {
        .slider-col-sm-6 {
            flex: 0 0 50%;
            max-width: 100%
        }
    }
    @media(min-width: 992px) {
        .slider-col-lg-4 {
            flex: 0 0 33.33333333%;
            max-width: 100%
        }
    }
}

.iiif-preview .previewer {
    width: 100%;
    height: 400px;
    display: block;
}

.bg-secondary {
    background-color: lighten(#6c757d, 20%)!important;
}

.book-description-images,
.iiif {
    position: relative;

    .viewer {
        width: 100%;
        display: block;
        height: 90vw;

        &.portrait {
            width: 60vw;
            height: calc(60vw * 1.6);
            @media (max-width: 37.5em) {
                width: 90vw;
                height: calc(90vw * 1.5);
            }
        }

        &.landscape {
            width: 60vw;
            height: calc(60vw / 1.5);
            @media (max-width: 37.5em) {
                width: 90vw;
                height: calc(90vw / 1.5);
            }
        }
    }

    .iiif-image {
        width: 100%;
        padding: 0.3em;
    }

    .iiif-image.cover {
        display: inline-block;
    }

    .iiif-image.cover {
        order: 1;
    }

    .iiif-image.front {
        order: 2;
    }

    .iiif-image.title {
        order: 3;
    }

    .lanscape {
        width: 100%;
    }

    .iiif-image.order-1 {
        order: 11;
        width: 100%;
    }

    .iiif-image.order-2 {
        order: 12;
        width: 100%;
    }

    .iiif-image.order-3 {
        order: 13;
        width: 100%;
    }

    .iiif-image.order-4 {
        order: 14;
        width: 100%;
    }

    .iiif-image.order-5 {
        order: 15;
        width: 100%;
    }

    .iiif-image.order-6 {
        order: 16;
        width: 100%;
    }

    .iiif-image.order-7 {
        order: 17;
        width: 100%;
    }

    .iiif-image.order-8 {
        order: 18;
        width: 100%;
    }
}

::-moz-selection {
    background: #adb5bd;
    color: #fff
}

::selection {
    background: #adb5bd;
    color: #fff
}

@media(max-width: 992px) {
    .widget {
        display: none;
    }
}
