@import "slick.scss";
@import "slick-theme.scss";

@import "icons";
@import "ol-iiif";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,400&family=Prata&display=swap');

// Leaflet fullscreen
.fullscreen-icon {
    {{ $leafletFullscreenIcon := resources.Get "js/leaflet.fullscreen/icon-fullscreen.png" }}
    background-image: url({{ $leafletFullscreenIcon.RelPermalink }})
}

.leaflet-retina .fullscreen-icon {
    {{ $leafletFullscreenIconRetina := resources.Get "js/leaflet.fullscreen/icon-fullscreen.png" }}
    background-image: url({{ $leafletFullscreenIconRetina.RelPermalink }});
    background-size: 26px 26px
}


h1, h2, h3, h4, nav {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Prata', serif;
}

nav {
    font-weight: 300;
    font-size: 1.6em;
}

.navbar .nav-item .nav-link {
    padding: .5rem 1rem
}
