<!-- blog single -->
{{- $page := .Page -}}
<section>
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-9">
        {{- $class := "" -}}
        {{- if not .Params.metaPage -}}
            <ul class="list-inline d-flex justify-content-between py-3">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>
                {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
              </li>
            </ul>
        {{- else -}}
            {{- $class = "meta" -}}
        {{- end -}}
        <article class="content {{ $class }}">
          {{.Content}}

          <div class="iiif">
              {{- $context := path.Dir .File.Path -}}
              {{- $pageURL := .Permalink -}}
              {{- if not (hasPrefix .Params.iiifContext "http://iiif.io/api/presentation/") -}}
                  {{- range .Params.resources -}}
                    {{- if or (and (ne $.Params.itemType "work") (ne $.Params.itemType "book")) (not (or (or (eq .name "front") (eq .name "title")) (eq .name "cover"))) -}}
                      {{- if .params.iiif -}}
                        {{ partial "iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page) }}
                      {{- end -}}
                    {{- end -}}
                  {{- end -}}
              {{- else -}}
                {{- partial "mirador.html" . -}}
              {{- end -}}
          </div>

        </article>
      </div>
      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog single -->
