<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{- $class := "" -}}
        {{- if not .Params.metaPage -}}
            <ul class="list-inline d-flex justify-content-between py-3">
              <li class="list-inline-item"><i class="ti-calendar mr-2"></i>
                {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
              </li>
            </ul>
        {{- else -}}
            {{- $class = "meta" -}}
        {{- end -}}
        <article class="content {{ $class }}">
          {{.Content}}
        </article>
      </div>
      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog single -->
